*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 300px;
    height: 420px;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    outline: auto black;
}
figcaption{
    text-align: center;
    color: rgb(71, 72, 72);
    font-size: large;
}
a{
    text-decoration: none;
}
table{
    border-collapse: collapse; 
    font-size: 25px;
}
td{
    color:rgb(7, 128, 124);
    font-size: 20px;
}
td,th{
    padding: 20px;
}
