.k2{
    width: 100%;
    height: 405px;
    background-color: #f5f5f5;
}
.k1{
    width: 100%;
    height: 443.4px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 10px;
}
.c1{
    width: 100%;
    height: 66.4px;
    background-color: fff;
    text-align: center;
    color: #f1c30f;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 20px;
}
.c2{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 247px;
    width: 1254px;
}
.e1{
    width: 400px;
    height: 217px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#img_1{
    width: 64px;
    height: 64px;
}
.e2{
    width: 270px;
    height: 217px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.e3{
    width: 270px;
    height: 38px;
    font-size: 18px;
    color: #363636;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.e4{
    width: 270px;
    height: 168px;
    font-size: 14px;
    line-height: 1.52857143;
    color: #333;
    text-align: justify;
}
body{
    margin: 0;
    width: 100%;
    height: 2000px;
    background-color: rgb(255, 255, 255);
}
*{
    -webkit-font-smoothing: antialiased;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box1{
    background-image: url(tcs.jpg);
    width: 100%;
    height: 746px;
    background-size: cover;
}
.a1{
    padding: 32px 0 0;
    width: 100%;
    height: 137px;
}
.a2{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
.b1{
    
    width: 300px;
    height: 80px;
    background-image: url(logo.png);
}
.b2{
    width: 720px;
    height: 39px;
    margin: 16px 0 0 0;
    padding-top: 12px;
    padding-left:100px ;
}
.b2 li{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.aa{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

